

Task 1: Printing a Message
-
Write a Python program that prints the following message to the screen:

Hello, everyone! I am learning Python. ðŸ˜„

Steps:
Write the code using a print statement.
Run your code to see the output.

In [2]:

print("Task 1")
print("Hello, everyone! I am learning Python. ðŸ˜„")

Task 1
Hello, everyone! I am learning Python. ðŸ˜„


Task 2: Declaring Variables
-
Create a program that does the following:
-
Declare variables to store:
Your name (as a string),
Your age (as an integer), and
Your favorite animal (as a string).
Use print statements to display these variables one by one.

Example Output:
-
Name: Sarah
Age: 12
Favorite Animal: Dog

In [3]:

print("Task 2")
Name : str = "Sarah"
Age : int = 12
Favorite_Animal: str = "Dog"

print(Name)
print(Age)
print(Favorite_Animal,)

Task 2
Sarah
12
Dog


Task 3: Combining Variables in a Message
-
Use the variables from Task 2 to create a single sentence and print it.

Example Output:
-
My name is Sarah, I am 12 years old, and I love dogs!

In [4]:


print("\nTask 3")
print(f'\nname is {Name} Age is {Age} Favorite_Animal is {Favorite_Animal}')

Task 3

name is Sarah Age is 12 Favorite_Animal is Dog

Task 4: Playing with Different Data Types
-
Write a program that demonstrates three different types of variables:

A string (e.g., your favorite movie),
An integer (e.g., your birth year), and
A float (e.g., the price of your favorite snack).
    
Steps:
-
Declare three variables, each with a different type.
Print each variable on a separate line.
    
Example Output:
-
Favorite Movie: Toy Story
Birth Year: 2010
Price of Snack: 1.5

In [5]:


print("\nTask 4")
Favorite_Movie: str =  "Toy Story"
Birth_Year: int = 2010
Price_of_Snack: float = 1.5

print(Favorite_Movie)
print(Birth_Year)
print(Price_of_Snack)

Task 4
Toy Story
2010
1.5


Task 5: Your Favorite Hobby
-
Create a variable called hobby and assign it a value (e.g., "reading books").

Write a program that prints the sentence:

My favorite hobby is [your hobby].

Replace [your hobby] with the value of the hobby variable.

Example Output:
-
My favorite hobby is reading books.

In [6]:

print("\nTask 5")

hobby : str ='reading books'
print(f"My favorite hobby is {hobby}.")

Task 5
My favorite hobby is reading books.


Extra Challenge
-
If you want to explore more, try this bonus task:

Create two variables, a and b, and assign them any numbers you like.
Create a third variable, c, and assign it the value of a + b (no operators, just assignment).
Print all three variables.
    
Example Output:
-
a = 5

b = 7

c = 12 (a and b combined!)

In [7]:

a = 5
b = 7
c = a+b
print("\nTask 6")
print("a+b: ",c)

Task 6
a+b:  12