1 Write a Python program to print numbers from 1 to 50 using a for loop.
-

In [50]:
for i in range(1,51):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

2 Print all even numbers between 1 and 100 using a for loop.
-

In [51]:
for i in range(1,101):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

3 Write a program to calculate the sum of numbers from 1 to N entered by the user.
-

In [53]:
number = int(input("Enter number: "))

for i in range( 1 , number ):
    number = number + i
print(number)

Enter number:  4

10

4 Print the multiplication table of a number entered by the user (up to 10).
-
Example:
-

5 x 1 = 5<br>
5 x 2 = 10

In [55]:
number =int(input("enter a number: "))

for i in range(1,11):
    print(number,"x", i , "=", number * i)

enter a number:  4

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 Write a program to reverse a string using a for loop.
-

In [57]:
text = input("Enter a string: ")
revers = ""

for i in text:
    revers = i + revers

print("Reversed string:", revers)

Enter a string:  cat

Reversed string: tac

6 Count the number of vowels present in a string using a for loop.
-

In [70]:
word = input("enter a string: ")

count =0 

for i in word:
    if i in 'aeiou':
        count= count + 1
print(count)

enter a string:  4

0

7 Print the following pattern:
-

In [69]:
for i in range(6):
    print("*" * i)

*
**
***
****
*****

Check whether a number is prime
-

In [97]:
number= int(input("enter a number: "))

for i in range(2, number):
    if number % i == 0:
            print(number, "is not prime number")
            break
    else:                    
        print(number, "is a prime number")             
        break

enter a number:  44

44 is not prime number

## 9 Given a list:
numbers = [12, 5, 7, 18, 21, 30]

Print only numbers divisible by 3.

In [118]:
numbers = [12, 5, 7, 18, 21, 30]

for i in numbers:
    if i % 3 == 0:
        print(i)

12
18
21
30

10 Break and Continue
-
Print numbers from 1 to 20, but:
- Skip multiples of 3.
- Stop execution if number becomes greater than 15.

In [119]:
for i in range(1, 21):

    if i > 15:
        break

    if i % 3 == 0:
        continue

    print(i)

1
2
4
5
7
8
10
11
13
14

Calculate factorial of a number using a while loop.
-

In [126]:
number = int(input("enter a number: "))

fact = 1                      
i = 1
while i <= number:
    fact = fact * i   
    i = i + 1         

print("Factorial of", number, "is", fact)

enter a number:  7

Factorial of 7 is 5040