# Part 1: Working with Variables, Input, and Strings

## 1. Prompt for User Input

- Ask the user to enter their **full name** and store it in a variable named `full_name`.
- Print a greeting message using the entered name.

**Example:**



---

## 2. String Methods

Using the `full_name` variable, perform the following operations:

- Print the user’s name in **all uppercase** letters.
- Print the user’s name in **all lowercase** letters.
- Print the **length** of the user’s name (number of characters).
- Replace all spaces in the user’s name with **hyphens (-)** and print the result.
- **Bonus:** Remove any leading or trailing spaces using the `strip()` method.

---

## 3. Type Casting and Numeric Operations

- Ask the user to enter their **birth year**.
- Convert the input into an integer.
- Calculate the user’s **approximate age** by subtracting the birth year from the current year.
- Print the result in a complete sentence.

**Example Output (Walkthrough)**

- Enter your full name:  John Doe
- Hello, John Doe! Welcome to the Python assignment.
- Your name in uppercase: JOHN DOE
- Your name in lowercase: john doe
- Length of your name: 8
- Name with hyphens: John-Doe
- Current year is 2024, so you are approximately 24 years old.

In [6]:
full_name = input('enter full name :')
full_name

enter full name : Muhammad Talha Parvez

'Muhammad Talha Parvez'

In [7]:
print(f"Hello, {full_name}! Welcome to the Python assignment.")

Hello, Muhammad Talha Parvez! Welcome to the Python assignment.

In [8]:
full_name.upper()

'MUHAMMAD TALHA PARVEZ'

In [9]:
full_name.lower()

'muhammad talha parvez'

In [10]:
len(full_name)

21

In [11]:
full_name.replace(" ","-")

'Muhammad-Talha-Parvez'

In [19]:
full_name = input('enter full name :')
full_name

enter full name :   Muhammad Talha

'  Muhammad Talha  '

In [20]:
full_name = full_name.strip()
full_name

'Muhammad Talha'

In [24]:
birth_year = int (input("Enter your birth year: "))

Enter your birth year:  26

In [25]:

birth_year = birth_year
current_year = 2026
age = current_year - birth_year
print(f"You are approximately {age} years old.")

You are approximately 2000 years old.

# Part 2: Lists and Indexing

## 1 Create a list from user input

1. Prompt the user to enter three of their favorite fruits (e.g., `"apple,banana,orange"`) in one line, separated by commas.  
2. Split the string by commas to create a list called `fruit_list`.  
3. Print the list to verify that it’s correct.  

## 2 List indexing and slicing

1. Print the first fruit in the list.  
2. Print the last fruit in the list.  
3. Print the second fruit in the list using indexing (i.e., `fruit_list[1]`).  
4. Print the slice of the list containing the first two fruits.  

## 3 List methods

1. Append a new fruit to the list using `append()`. Print the updated list.  
2. Remove one fruit from the list using `remove()` (or `pop()`). Print the updated list again.  
3. Print the length of the list using `len()`.  

## Example Output (Walkthrough)

Enter three of your favorite fruits (comma-separated): apple, banana, mango

Your list of fruits: ['apple', ' banana', ' mango']

First fruit: apple

Last fruit:  mango

Second fruit:  banana

First two fruits: ['apple', ' banana']

Adding a new fruit...

Updated list: ['apple', ' banana', ' mango', 'strawberry']

Removing one fruit...

Updated list: ['apple', ' banana', 'strawberry']

Length of the list is now 3

In [30]:
fruits_input = input("Enter three of your favorite fruits: ")

Enter three of your favorite fruits:  apple banana orange

In [33]:
fruit_list = fruits_input.split(" ")

print("Your list of fruits:", fruit_list)

Your list of fruits: ['apple', 'banana', 'orange']

In [36]:
print("First fruit:", fruit_list[0])
print("Sexond fruit:", fruit_list[1])
print("Last fruit:", fruit_list[-1])
print("First Two fruit:", fruit_list[0:2])

First fruit: apple
Sexond fruit: banana
Last fruit: orange
First Two fruit: ['apple', 'banana']

In [37]:
fruit_list.append('strawberry')
print("Updated list after adding a new fruit:", fruit_list)

Updated list after adding a new fruit: ['apple', 'banana', 'orange', 'strawberry']

In [38]:
fruit_list.remove('banana') 
print("Updated list after removing a fruit:", fruit_list)

Updated list after removing a fruit: ['apple', 'orange', 'strawberry']

In [39]:
print("Length of the list is now:", len(fruit_list))

Length of the list is now: 3

# Part 3 (Optional Challenge): Combining Concepts

## 1 String & List Interaction

- Create a new list from the letters of your `full_name` (excluding spaces).  

  **Hint:**  
  `letters_list = list(full_name.replace(" ", ""))`

- Print the first 3 letters and the last 3 letters of `letters_list`.

## 2 Manipulate and Reconstruct

- Convert the first 3 letters of `letters_list` to uppercase, and the rest to lowercase.  
- Reconstruct the name from `letters_list` back into a string using `"".join(...)` and print it out.

## 3 Simple Arithmetic on a List of Numbers

- Prompt the user to enter 5 numbers (e.g., `"10 20 30 40 50"`) in one line, separated by spaces.  
- Convert each input into an integer and store all in a list called `numbers_list`.  
- Print the sum of the numbers, and the average (`sum / length of the list`).

## Example Output (Walkthrough)
Creating a letters list from your full name...<br>
First 3 letters: ['J', 'o', 'h']<br>
Last 3 letters: ['D', 'o', 'e']<br>
Reconstructing name with some modifications...<br>
Modified name: JOHdoe<br>
Enter 5 numbers (space-separated): 10 20 30 40 50<br>
Sum of your numbers: 150<br>
Average of your numbers: 30.0<br>

In [53]:
full_name = input("Enter your full name: ")

Enter your full name:  Muhammad Talha

In [57]:
print("Full name: ",full_name)
letters_list = list(full_name.replace(" ", ""))
print("Letter list: ", letters_list)
print("First 3 letters:", letters_list[:3])

print("Last 3 letters:", letters_list[-3:])

Full name:  Muhammad Talha
Letter list:  ['M', 'u', 'h', 'a', 'm', 'm', 'a', 'd', 'T', 'a', 'l', 'h', 'a']
First 3 letters: ['M', 'u', 'h']
Last 3 letters: ['l', 'h', 'a']

In [73]:
#first three in upper case 

for i, letter in enumerate(letters_list):
    if i < 3:
        letters_list[i] = letter.upper()
    else:
        letters_list[i] = letters_list[i].lower() 
print(letters_list)

['M', 'U', 'H', 'a', 'm', 'm', 'a', 'd', 't', 'a', 'l', 'h', 'a']

In [74]:
#joining name back together

modified_name = "".join(letters_list)
print("Modified name:", modified_name)

Modified name: MUHammadtalha

In [100]:
numbers_list = []

for i in range(5):
    a = int(input(f"enter a number{i}"))
    numbers_list.append(a)

enter a number0 1
enter a number1 2
enter a number2 3
enter a number3 4
enter a number4 5

In [101]:
numbers_list

[1, 2, 3, 4, 5]

In [102]:
total = sum(numbers_list)
average = total / len(numbers_list)

print("Sum of your numbers:", total)
print("Average of your numbers:", average)

Sum of your numbers: 15
Average of your numbers: 3.0